<h1>Listing r_apps</h1>

<table>
  <tr>
    <th>Submission date</th>
    <th>Property</th>
    <th>Landlord</th>
    <th>Realtor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @r_apps.each do |r_app| %>
  <tr>
    <td><%= r_app.submission_date %></td>
    <td><%= r_app.property %></td>
    <td><%= r_app.landlord %></td>
    <td><%= link_to 'Show', r_app %></td>
    <td><%= link_to 'Edit', edit_r_app_path(r_app) %></td>
    <td><%= link_to 'Destroy', r_app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New R app', new_r_app_path %>
