<h1>Creating a New Application</h1>

<%= form_for(@r_app) do |f| %>
  <% if @r_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@r_app.errors.count, "error") %> prohibited this r_app from being saved:</h2>

      <ul>
      <% @r_app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset class="appsproperty">
<legend>Property</legend>
	<%= f.fields_for :property, @r_app.property do |u| %>
		<%= render :partial => 'properties/create',  :locals => {:u => u }  %>
	<% end %>
</fieldset>

<div class="appslandlord">
<h3>Landlord</h3>
	<%= f.fields_for :landlord,  @r_app.landlord do |u| %>
		<%= render :partial => 'ooglers/create',  :locals => {:f => u }  %>
	<% end %>
</div>

<div class="appsbroker">
<h3>Broker</h3>
	<%= f.fields_for :listing_broker,  @r_app.listing_broker do |u| %>
		<%= render :partial => 'ooglers/create',  :locals => {:f => u }  %>
	<% end %>
</div>

<div class="appspersonal">
<h3>Personal Information</h3>
	<%= f.fields_for :i_apps,  @r_app.i_apps do |iapps| %>
		<%= render :partial => 'i_apps/create',  :locals => {:f => iapps }  %>
	<% end %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
<%= link_to 'Back', r_apps_path %>
