<h1>Apartment Rental Application</h1>

<%= form_for(@r_app) do |f| %>
  <% if @r_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@r_app.errors.count, "error") %> prohibited this r_app from being saved:</h2>

      <ul>
      <% @r_app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset class="appsproperty">
<legend>Property</legend>
	<%= f.fields_for :property, @r_app.property do |u| %>
		<%= render :partial => 'properties/create',  :locals => {:u => u }  %>
	<% end %>
</fieldset>

<fieldset class="appslandlord">
<legend>Landlord</legend>
	<%= f.fields_for :landlord,  @r_app.landlord do |u| %>
		<%= render :partial => 'ooglers/create',  :locals => {:f => u }  %>
	<% end %>
</fieldset>

<fieldset class="appsbroker">
<legend>Broker</legend>
	<%= f.fields_for :listing_broker,  @r_app.listing_broker do |u| %>
		<%= render :partial => 'ooglers/create',  :locals => {:f => u }  %>
	<% end %>
</fieldset>

<fieldset class="appspersonal">
<legend>Personal Information</legend>
	<%= f.fields_for :i_apps,  @r_app.i_apps do |iapps| %>
		<%= render :partial => 'i_apps/create',  :locals => {:f => iapps }  %>
	<% end %>
</fieldset>

<fieldset class="appspets">
  <legend>Pets</legend>
    <%= f.fields_for :pets do |u| %>
    <%= render :partial => 'pets/create',  :locals => {:f => u }  %>
  <% end %>
</fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
<%= link_to 'Back', r_apps_path %>
