<p>
Complete this form with information about the property you wish to apply for, the rental broker you are applying to, and your own personal information.</p>
<p>
	This application will be processed for a credit check and viewed by the rental broker and landlord before a decision is made on the status of your rental.
</p>
<hr>
<h1 id="appstitle">Apartment Rental Application</h1>

<%= form_for @r_app, :validate => true do |f| %>
  <% if @r_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@r_app.errors.count, "error") %> prohibited this r_app from being saved:</h2>

      <ul>
      <% @r_app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<ul>
	<li><a href="#step-1"></a></li>
	<li><a href="#step-2"></a></li>
	<li><a href="#step-3"></a></li>
	<li><a href="#step-4"></a></li>
	<li><a href="#step-5"></a></li>
	<li><a href="#step-6"></a></li>
	<li><a href="#step-7"></a></li>
	<li><a href="#step-8"></a></li>
	<li><a href="#step-9"></a></li>
</ul>

<!-- BEGIN STEP 1 -->
	<div id="step-1">
		<%= render :partial => 'create_r_app',  :locals => {:f => f }   %>
	</div>
<!-- END STEP 1 -->

	<%= f.fields_for :i_apps,  @r_app.i_apps do |iapps| %>
	
		<!-- BEGIN STEP 2 -->
			<div id="step-2">
				<%= render :partial => 'i_apps/create_personal_information',  :locals => {:f => iapps }  %>
			</div>
		<!-- END STEP 2 -->
		<!-- BEGIN STEP 3 -->
			<div id="step-3">
				<%= render :partial => 'i_apps/create_vehicles',  :locals => {:f => iapps }  %>
			</div>
		<!-- END STEP 3 -->
		<!-- BEGIN STEP 4 -->
			<div id="step-4">
				<%= render :partial => 'i_apps/create_previous_employments',  :locals => {:f => iapps }  %>
			</div>
		<!-- END STEP 4 -->	
		
		<!-- BEGIN STEP 5 -->
			<div id="step-5">
				<%= render :partial => 'i_apps/create_previous_addresses',  :locals => {:f => iapps }  %>
			</div>
		<!-- END STEP 5 -->
		
		<!-- BEGIN STEP 6 -->
			<div id="step-6">
				<%= render :partial => 'i_apps/create_financial_history',  :locals => {:f => iapps }  %>
			</div>
		<!-- END STEP 6 -->
		
		<!-- BEGIN STEP 7 -->
			<div id="step-7">
				<%= render :partial => 'i_apps/create_emergency_contacts',  :locals => {:f => iapps }  %>
			</div>
		<!-- END STEP 7 -->
		
		<!-- BEGIN STEP 8 -->
			<div id="step-8">
				<%= render :partial => 'i_apps/create_personal_references',  :locals => {:f => iapps }  %>
			</div>
		<!-- END STEP 8 -->
		
		<!-- BEGIN STEP 9 -->
			<div id="step-9">
				<%= render :partial => 'i_apps/create_payment',  :locals => {:f => iapps }  %>
			</div>
		<!-- END STEP 9 -->	
		
	<% end %>



<% end %>
