

<hr>
<h1 id="appstitle">Apartment Rental Application</h1>

<%= form_for @r_app, :validate => true, :disabled => true do |f| %>
<fieldset class="appssection">
<h4>Property Information</h4>
	<%= f.fields_for :property, @r_app.property do |u| %>
		<%= render :partial => 'properties/view.html.erb',  :locals => {:u => u }  %>
	<% end %>
</fieldset>

<!--- AP commenting this for now because we don't have landlords yet-->
<%if false%>
<fieldset class="appssection">
<h4>Landlord</h4>
	<%= f.fields_for :landlord,  @r_app.landlord do |u| %>
		<%= render :partial => 'ooglers/view.html.erb',  :locals => {:f => u }  %>
	<% end %>
</fieldset>
<%end%>

<fieldset class="appssection">
<h4>Broker Information</h4>
	<%= f.fields_for :listing_broker,  @r_app.listing_broker do |u| %>
		<%= render :partial => 'ooglers/view.html.erb',  :locals => {:f => u }  %>
	<% end %>
</fieldset>

<div class="appsindividual">
	<%= f.fields_for :i_apps,  @r_app.i_apps do |iapps| %>
		<%= render :partial => 'i_apps/view.html.erb',  :locals => {:f => iapps }  %>
	<% end %>
</div>


<% end %>


