
<div class="field">
  <%= f.label :employer %>
  <%= f.text_field :employer %>
</div>
<div class="field">
  <%= f.label :occupation %>
  <%= f.text_field :occupation %>
</div>
<div class="field">
  <%= f.label :hours_per_week %>
  <%= f.number_field :hours_per_week %>
</div>
<div class="field">
  <%= f.label :supervisor_name %>
  <%= f.text_field :supervisor_name %>
</div>
<div class="field">
  <%= f.label :supervisor_phone %>
  <%= f.text_field :supervisor_phone %>
</div>
<div class="field">
  <%= f.label :years_employed %>
  <%= f.number_field :years_employed %>
</div>
<div class="field">
  <%= f.label :address %>
  <%= f.text_field :address %>
</div>
<div class="field">
  <%= f.label :city %>
  <%= f.text_field :city %>
</div>
<div class="field">
  <%= f.label :state %>
  <%= f.text_field :state %>
</div>
<div class="field">
  <%= f.label :zip %>
  <%= f.text_field :zip %>
</div>