 <div class="fields">
 <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :type_breed %>
    <%= f.text_field :type_breed %>
  </div>
  <div class="field">
    <%= f.label :indoor %>
    <%= f.check_box :indoor %>
  </div>
  <%= render :partial => 'layouts/remove_nested',  :locals => {:f => f }  %>
  </div>
