 <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :type_breed %>
    <%= f.text_field :type_breed %>
  </div>
  <div class="field">
    <%= f.label :indoor %>
    <%= f.check_box :indoor %>
  </div>
  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove Pet", '#', class: "remove_fields" %>