 <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :type_breed %><br />
    <%= f.text_field :type_breed %>
  </div>
  <div class="field">
    <%= f.label :indoor %><br />
    <%= f.check_box :indoor %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age %>
  </div>