 <div class="fields">
 <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age, :disabled => true  %>
  </div>
  <div class="field">
    <%= f.label :type_breed %>
    <%= f.text_field :type_breed, :disabled => true  %>
  </div>
  <div class="field">
    <%= f.label :indoor %>
    <%= f.check_box :indoor, :disabled => true  %>
  </div>
  </div>
