<p id="notice"><%= notice %></p>

<p>
  <b>Age:</b>
  <%= @pet.age %>
</p>

<p>
  <b>Type breed:</b>
  <%= @pet.type_breed %>
</p>

<p>
  <b>Indoor:</b>
  <%= @pet.indoor %>
</p>

<p>
  <b>Age:</b>
  <%= @pet.age %>
</p>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
