  <fieldset class="appspersonal">
<h4>Personal Information</h4>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :social_security_number %>
    <%= f.text_field :social_security_number %>
  </div>
  <div class="field dob">
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field dln">
    <%= f.label :drivers_license_number %>
    <%= f.text_field :drivers_license_number %>
  </div>
  <div class="field">
    <%= f.label :drivers_license_state %>
    <%= f.text_field :drivers_license_state %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
</fieldset>
  
  <fieldset class="appspets">
  <h4>Pets</h4>
    <%= f.fields_for :pets do |u| %>
    <%= render :partial => 'pets/create',  :locals => {:f => u }  %>
  <% end %>
</fieldset>

<fieldset class="appsemployments">
  <h4>Employment History</h4>
  <%= f.fields_for :employments_attributes do |u| %>
    <%= render :partial => 'employments/create',  :locals => {:f => u }  %>
  <% end %>
</fieldset>

<fieldset class="appsemergencycontacts">
  <h4>Emergency Contacts</h4>
  <%= f.fields_for :emergency_contacts_attributes do |u| %>
    <%= render :partial => 'emergency_contacts/create',  :locals => {:f => u }  %>
  <% end %>
</fieldset>


<fieldset class="appsincomes">
  <h4>Current Income</h4>
    <%= f.fields_for :incomes_attributes do |u| %>
    <%= render :partial => 'incomes/create',  :locals => {:f => u }  %>
  <% end %>
</fieldset>


<fieldset class="appspersonalreferences">
  <h4>Personal References</h4>
    <%= f.fields_for :personal_references_attributes do |u| %>
    <%= render :partial => 'personal_references/create',  :locals => {:f => u }  %>
  <% end %>
</fieldset>

<fieldset class="appspreviousaddresses">
  <h4>Previous Addresses</h4>
    <%= f.fields_for :previous_addresses_attributes do |u| %>
    <%= render :partial => 'previous_addresses/create',  :locals => {:f => u }  %>
  <% end %>
</fieldset>


<fieldset class="appspayment">
  <h4>Payment</h4>
    <%= f.fields_for :payment do |u| %>
    <%= render :partial => 'payments/create',  :locals => {:f => u }  %>
  <% end %>
</fieldset>
