<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @i_app.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @i_app.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @i_app.last_name %>
</p>

<p>
  <b>Social security number:</b>
  <%= @i_app.social_security_number %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @i_app.date_of_birth %>
</p>

<p>
  <b>Drivers license number:</b>
  <%= @i_app.drivers_license_number %>
</p>

<p>
  <b>Drivers license state:</b>
  <%= @i_app.drivers_license_state %>
</p>

<p>
  <b>Phone:</b>
  <%= @i_app.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @i_app.email %>
</p>

<p>
  <b>Marital status:</b>
  <%= @i_app.marital_status %>
</p>

<p>
  <b>User:</b>
  <%= @i_app.user %>
</p>


<%= link_to 'Edit', edit_i_app_path(@i_app) %> |
<%= link_to 'Back', i_apps_path %>
