 <div class="field">
    <%= u.label :address_1 %>
    <%= u.text_field :address_1, :class => "span12" %>
  </div>
  <div class="field">
    <%= u.label :address_2 %>
    <%= u.text_field :address_2 %>
  </div>
  <div class="field">
    <%= u.label :city %>
    <%= u.text_field :city %>
  </div>
  <div class="field">
    <%= u.label :state %>
    <%= u.text_field :state %>
  </div>
  <div class="field">
    <%= u.label :zip %>
    <%= u.text_field :zip %>
  </div>