 <div class="field">
    <%= u.label :address_1 %>
    <%= u.text_field :address_1, :class => "span11", :disabled => true %>
  </div>
  <div class="field">
    <%= u.label :address_2 %>
    <%= u.text_field :address_2 , :class => "span11", :disabled => true  %>
  </div>
  <div class="field">
    <%= u.label :city %>
    <%= u.text_field :city, :class => "span5", :disabled => true   %>
  </div>
  <div class="field">
    <%= u.label :state %>
    <%= u.text_field :state, :class => "span3", :disabled => true  %>
  </div>
  <div class="field">
    <%= u.label :zip %>
    <%= u.text_field :zip , :class => "span3", :disabled => true  %>
  </div>