<p id="notice"><%= notice %></p>

<p>
  <b>Address 1:</b>
  <%= @property.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%= @property.address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @property.city %>
</p>

<p>
  <b>State:</b>
  <%= @property.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @property.zip %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
