
<div class="field">
  <%= f.label :income %><br />
  <%= f.number_field :income %>
</div>
<div class="field">
  <%= f.label :source %><br />
  <%= f.text_field :source %>
</div>
<div class="field">
  <%= f.label :proof_of_income %><br />
  <%= f.check_box :proof_of_income %>
</div>