
<div class="field">
  <%= f.label :income %>
  <%= f.number_field :income, :min => 0, :disabled => true  %>
</div>
<div class="field">
  <%= f.label :source %>
  <%= f.text_field :source, :disabled => true  %>
</div>
<div class="field">
  <%= f.label :proof_of_income %>
  <%= f.check_box :proof_of_income, :disabled => true  %>
</div>