<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, :class => "span4", :disabled => true  %>
</div>
<div class="field">
  <%= f.label :phone %>
  <%= f.text_field :phone, :class => "span4", :placeholder => "XXX-XXX-XXXX", :disabled => true  %>
</div>
<div class="field">
  <%= f.label :relationship %>
  <%= f.text_field :relationship, :class => "span3", :disabled => true  %>
</div>
<div class="field">
  <%= f.label :address %>
  <%= f.text_field :address, :class => "span11", :disabled => true  %>
</div>
<div class="field">
  <%= f.label :city %>
  <%= f.text_field :city, :class => "span4", :disabled => true  %>
</div>
<div class="field">
  <%= f.label :state %>
  <%= f.text_field :state, :class => "span4", :disabled => true  %>
</div>
<div class="field">
  <%= f.label :zip %>
  <%= f.text_field :zip, :class => "span3", :disabled => true  %>
</div>
