<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @emergency_contact.name %>
</p>

<p>
  <b>Address:</b>
  <%= @emergency_contact.address %>
</p>

<p>
  <b>City:</b>
  <%= @emergency_contact.city %>
</p>

<p>
  <b>State:</b>
  <%= @emergency_contact.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @emergency_contact.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @emergency_contact.phone %>
</p>

<p>
  <b>Relationship:</b>
  <%= @emergency_contact.relationship %>
</p>


<%= link_to 'Edit', edit_emergency_contact_path(@emergency_contact) %> |
<%= link_to 'Back', emergency_contacts_path %>
