
<div class="field">
  <%= f.label :address_1 %>
  <%= f.text_field :address_1, :class => "span11", :disabled => true  %>
</div>
<div class="field">
  <%= f.label :address_2 %>
  <%= f.text_field :address_2, :class => "span11", :disabled => true   %>
</div>
<div class="field">
  <%= f.label :city %>
  <%= f.text_field :city, :class => "span4", :disabled => true   %>
</div>
<div class="field">
  <%= f.label :state %>
  <%= f.text_field :state, :class => "span4", :disabled => true  %>
</div>
<div class="field">
  <%= f.label :zip %>
  <%= f.text_field :zip, :class => "span2", :max_length => 5, :disabled => true   %>
</div>

<div class="field">
  <%= f.label :landlord_name %>
  <%= f.text_field :landlord_name, :class => "span4", :disabled => true  %>
</div>
<div class="field">
  <%= f.label :landlord_phone %>
  <%= f.text_field :landlord_phone, :class => "span3", :disabled => true  %>
</div>
<div class="field">
  <%= f.label :reason_for_leaving %>
  <%= f.text_field :reason_for_leaving, :class => "span4", :disabled => true  %>
</div>
<div class="field">
  <%= f.label :length_lived_months %>
  <%= f.number_field :length_lived_months, :min => 0, :disabled => true  %>
</div>
<div class="field">
  <%= f.label :rent_amount %>
  <%= f.text_field :rent_amount, :disabled => true  %>
</div>
<div class="field">
  <%= f.label :rent_paid %>
  <%= f.check_box :rent_paid, :disabled => true  %>
</div>