  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "span4", :disabled => true   %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "span4", :disabled => true   %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone %>
    <%= f.text_field :mobile_phone, :class => "span3", :disabled => true   %>
  </div>